<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<form action="/register" method="post">
<input type="text" name="userName" value="Name">
<p></p>
<input type="text" name="password" value="Password">
<p></p>
<input type="text" name="userLastName" value="lastName">
<p></p>
<input type="text" name="userEmail" value="Email">
<p></p>
<input type="submit">
</form>
</body>
</html>